<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z2" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/images/hci_logo_horiz_jbfi0if.height-40.png"></mat-toolbar>
    <mat-nav-list>
      <div *ngIf="account.role === Role.Admin">
          <a  
          mat-list-item 
          routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}" 
          (click)="clickHandler()" 
          class="nav-item nav-link"
          >
          <mat-icon>home</mat-icon><span>&nbsp;Dashboard</span>
        </a>
        <a  
        mat-list-item 
        routerLink="/projects" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" 
        (click)="clickHandler()" 
        class="nav-item nav-link"
        >
        <mat-icon>work</mat-icon><span>&nbsp;Employees</span>
      </a>
      <a  
      mat-list-item 
      routerLink="/accounts/list/User" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" 
      (click)="clickHandler()" 
      class="nav-item nav-link"
      >
    <mat-icon>people</mat-icon><span>&nbsp;Customers</span>
  </a>

          <a  
          mat-list-item 
          routerLink="/accounts/list/all" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}" 
          (click)="clickHandler()" 
          class="nav-item nav-link"
          >
          <mat-icon>account_box</mat-icon><span>&nbsp;Accounts</span>
        </a>
        <a  
        mat-list-item 
        routerLink="/time" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" 
        (click)="clickHandler()" 
        class="nav-item nav-link"
        >
        <mat-icon>here</mat-icon><span>&nbsp;Locations</span>
      </a>
      <a  
      mat-list-item 
      routerLink="/locations/list/all" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" 
      (click)="clickHandler()" 
      class="nav-item nav-link"
      >
        <mat-icon>schedule</mat-icon><span>&nbsp;Time Cards</span>
      </a>
      </div>  
    <mat-divider *ngIf="isHandset$ | async"></mat-divider>
    <a 
    *ngIf="isHandset$ | async"
     mat-list-item 
     routerLink="/profile" 
     routerLinkActive="active" 
     (click)="clickHandler()" 
     fxHide.md 
     class="nav-item nav-link"
     >
     <mat-icon>settings</mat-icon> My Account
    </a>
    <a *ngIf="isHandset$ | async" tabindex="0" mat-list-item (click)="logout()" fxShow.xs class="nav-item nav-link"><mat-icon>power_settings_new</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" class="mat-elevation-z2 inline-flex">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex>Welcome, {{ account.firstName }} {{ account.lastName }} </span>
      <button mat-button *ngFor="let item of menuItems" fxHide.xs (click)="navigate(item.path)">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
    </button>
    </mat-toolbar>
      <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
