<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
<mat-card>
    <mat-card-title>
        {{ project?.title }}
    </mat-card-title>
    <mat-divider class="mb-3"></mat-divider>
    <mat-card-content class="mt-3">
       <span class="my-3">
           Description: {{ project?.description }}
       </span><br> 
       <span>
           Customer: {{ project?.customer?.firstName }} {{ project?.customer?.lastName }}
       </span>

    </mat-card-content>

</mat-card>
</ng-container>