.spacer {
    flex: 1 1 auto;
  }

// these classes were causing issues for the content on the page
.full-background {
    height: calc(100vh);
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

@media (min-width: 600px) {
    .full-background {
        height: calc(100vh);
    }
}



.larger {
    font-size: larger;
}

.toolbar-link {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
}

// TODO: refactor these
a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
}