@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


// global styles
a { cursor: pointer; }

.app-container {
    min-height: 100%;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.transparent-card {
    background: rgba(255, 255, 255, 0.75);
    margin-top: 85px;
    margin-bottom: 15px;
}

.mat-expansion-panel-body {
    padding: 0!important;
  }

.mat-sidenav-content {
    height: 100%!important;
  }

.inline-flex {
    display: inline-flex!important;
}

.snackbar-success {
    background-color: #0ea800c5;
    color: whitesmoke;

    .mat-button-wrapper{
        color: whitesmoke;
        font-weight: 700;
    }
}

.snackbar-error {
    background-color: #a80000c5;
    color: whitesmoke;

    .mat-button-wrapper{
        color: whitesmoke;
        font-weight: 700;
    }
}

.loading-results-spinner {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: white;
}

.mat-column-actions {
    text-align: right!important;
  }

  
a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.button:focus {
    outline: none;
}

.dashboard-card {
    width: calc(100% - 20px);
    min-height: 300px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .dashboard-card {
        width: calc(50% - 20px)
    }
}

@media only screen and (min-width: 992px) {
    .dashboard-card {
        width: calc(33% - 20px)
    }
}

@media only screen and (min-width: 1200px) {
    .dashboard-card {
        width: calc(25% - 20px)
    }
}